@model IEnumerable<Cansat.Setebos.Data.Flights>

@{
    ViewBag.Title = "Index";
    int page = (int)ViewData["page"];
    int count = (int)ViewData["count"];
    int rowsPerPage = (int)ViewData["rowsPerPage"];
    
}

<h2>Flights</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class= "btn btn-default" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.FlightId }, new { @class= "btn btn-default" })*@ 
            @Html.ActionLink("Details", "Details", new { id = item.FlightId }, new { @class = "btn btn-default" })
            @Html.ActionLink("Map", "Map", new { id = item.FlightId }, new { @class = "btn btn-default" }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.FlightId }, new { @class = "btn btn-default" })*@
        </td>
    </tr>
}
    
</table>

<div class="pager">
    @for (int i = 1; i <= Math.Ceiling((float)count / rowsPerPage); i++)
    {
        <span><a href="@Url.Action("Index","Flights",new {page=i, rowsPerPage=rowsPerPage})" class="@(i==page?"active":"")">@i</a></span>
    }
     (Total @count)
</div>

