@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        P&aacute;gina deseñada para la visualización de los datos del proyecto Cansat SETEBOS
    </p>

    <p>
        Integrantes:
    </p>
    <ul>
        <li>Mayra Sierra</li>
        <li>Adrian Gonzalez</li>
        <li>Daniel Iturbide</li>
        <li>Juan Pablo Robles</li>
        <li>Rogelio Galindo</li>

    </ul>
    <img src="~/Images/Team.jpg" style="max-width: 100%; box-sizing:border-box;" />
    <p>
        De izquierda a derecha Adrian, Juan Pablo, Daniel, Mayira y Rogelio. =)
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@